.vl {
    border-left: 1px solid black;
    height: auto;
    padding: 10px;
}


.content {
    height: 20px;
    padding: 20px;
    background-color: lightblue;
    box-shadow: 6px 0 0 0 gray; 
}

.vertical-line {
    width: 1px; 
    height: auto; 
    background-color: rgb(99, 98, 98); 
    margin-top: 10px;
}

.green{
    color: rgb(6, 246, 82);
    padding-left: 5px;
}


@media screen and (min-width: 840px) {
    .hide-on-desktop {
      display: none;
    }
}

@media screen and (max-width: 840px) {
    .hide-on-mobile {
      display: none;
    }
}